<section class="new-training" fxLayout fxLayoutAlign="center">
  <mat-card fxFlex.xs="100%" fxFlex="400px">
    <mat-card-title fxLayoutAlign="center">Time to start a workout!</mat-card-title>
    <mat-card-content fxLayoutAlign="center">
      <form [formGroup]="form">
        <mat-form-field>
          <mat-select placeholder="Choose Exercise" formControlName="exercise">
            @for (item of exercises$ | async; track item.id) {
              <mat-option [value]="item?.id">
                {{item?.name}}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="center">
      <button type="submit" mat-button (click)="onStartTraining()" [disabled]="form.invalid">Start</button>
    </mat-card-actions>
  </mat-card>
</section>
